.App {
  text-align: center;
}

.App pre {
  text-align: left;
  max-width: 100%;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  white-space: pre-wrap;
}

.App ul {
  max-width: 100%;
}

.App ul li {
  display: flex;
  gap: 1rem;
  max-width: 100%;
}

.App ul li > span:nth-of-type(2) {
  word-break: break-word;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
